RewriteEngine On
Options +FollowSymlinks
RewriteBase /
DirectoryIndex index.php

RewriteCond %{REQUEST_URI} \.(html|jpg|gif|png|zip|rar|webm|svg|wav|ogg|mp3|doc|xls|jsx|tif|tiff|docx|xlsx|ico)$|test\.php$

RewriteRule ^(.*)$ $1 [L,QSA]

RewriteRule ^(.*)$ index.php?params=$1 [L,QSA]

RewriteRule ^(.*)$.html$ content/$1 [L]