RewriteEngine on
RewriteBase /
DirectoryIndex index.html

#Определяем директорию для фронта
#RewriteRule ^(.+/|)$ src/web_front/$1index.html [L] [NC]
##Определяем директорию для бэка TODO подумать на роутингом
#RewriteCond %{REQUEST_URI} .php$
#RewriteRule ^(.*)$ core/controller/controller.php

RewriteCond %{REQUEST_URI} !/index\.html$
RewriteCond %{REQUEST_URI} !/controller\.php$
RewriteCond %{REQUEST_FILENAME} (.+/)
RewriteCond %1src/web_front (.+)
RewriteCond %1%{REQUEST_URI} (.+)
RewriteCond %1 !-d
RewriteRule ^(.*)$ core/controller/controller.php [L]
RewriteCond %{REQUEST_FILENAME} (.+/)
RewriteCond %1src/web_front (.+)
RewriteCond %1%{REQUEST_URI} (.+)
RewriteCond %1 -d
RewriteRule ^(.+/|)$ src/web_front/$1index.html [L] [NC]


